{% if facebook_url %}
  <a href="{{ facebook_url }}" alt="facebook icon" role="button" title="Facebook" target="_blank"><i class="fa fa-lg fa-facebook" aria-hidden="true"></i></a>
{% endif %}

{% if instagram_url %}
  <a href="{{ instagram_url }}" alt="instagram icon" role="button" title="Instagram" target="_blank"><i class="fa fa-lg fa-instagram" aria-hidden="true"></i></a>
{% endif %}

{% if twitter_url %}
  <a href="{{ twitter_url }}" alt="twitter icon" role="button" title="Twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>
{% endif %}

{% if pinterest_url %}
  <a href="{{ pinterest_url }}" alt="pinterest icon" role="button" title="Pinterest" target="_blank"><i class="fa-brands fa-pinterest-p"></i></a>
{% endif %}

{% if yelp_url %}
  <a href="{{ yelp_url }}" alt="yelp icon" role="button" title="Yelp" target="_blank"><i class="fa-brands fa-yelp"></i></a>
{% endif %}