{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

{% if post.header_color_scheme == 'dark' %}
	{% set color_scheme = ' ' ~ post.header_color_scheme ~ '-scheme' %}
{% endif %}

	<body class="{{ body_class }}" data-template="base.twig">

		<div id="cursor"></div>

		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header{{ color_scheme }}" >
			{% block mobile_menu %}
				{# {% include 'mobile-menus/mobile-menu.1.twig' %} #}
				{% include 'mobile-menus/mobile-menu.2.twig' %}
			{% endblock %}
			{% block header %}
				{# {% include 'headers/header.1.twig' %} #}
				{# {% include 'headers/header.2.twig' %} #}
				{% include 'headers/header.3.twig' %}
				{# {% include 'headers/header.5.twig' %} #}
				{# {% include 'headers/header.6.twig' %} #}
				{# {% include 'headers/header.7.twig' %} #}
				{# {% include 'headers/header.8.twig' %} #}
			{% endblock %}
		</header>

		<section id="content" aria-label="body content" class="{% if fn('is_front_page') or function('is_page', 1442) %}home {% endif %}content-wrapper{% if not fn('is_front_page') and not function('is_page', 1442) %} row{% endif %}" aria-labelledby="title">
			{% if sidebar %}
				<aside id="sidebar" class="sidebar sidebar-wrapper large-4 medium-12 columns {{ post.id }}-sidebar" role="complementary" data-equalizer-watch>
					{% block sidebar %}
						{% include 'sidebar.twig' %}
					{% endblock %}
				</aside>
			{% endif %}
			{# {% if title %}<h1 id="title">{{title}}</h1>{% endif %} #}
			<main class="wrapper {% if sidebar %}large-8 columns{% endif %}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</main>
		</section>

		{% block intpromos %}
		{% endblock %}
		
		{% block footer %}
			<footer id="footer" role="contentinfo">
				{% include 'footers/footer.1.twig' %}
				{# {% include 'footers/footer.2.twig' %} #}
				{# {% include 'footers/footer.3.twig' %} #}
			</footer>
		{% endblock %}
		{{ function('wp_footer') }}
		{% if acomm_popup %}
			{{ acomm_popup }}
		{% endif %}
	</body>
</html>
