{% extends "base.twig" %}

{% block header %}
	{{ parent() }}
	{% include 'components/headerimage.1.twig' %}
{% endblock %}

{% block sidebar %}
	{% include 'sidebar.twig' %}
{% endblock %}

{% block content %}
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section aria-labelledby="page-title" class="article-content">
				<h1 id="page-title" class="page-title">{{post.title}}</h1>
				<div class="article-body">
					{{post.get_content}}
				</div>
			</section>
		</article>
{% endblock %}

{% block intpromos %}
	{# {% include 'int-promos/int-promos.1.twig' %} #}
	{% include 'int-promos/int-promos.2.twig' %}
{% endblock %}