<section id="promos" aria-label="Promos">
  <div id="promos-wrapper" class="row">

    {% for promo in promos|slice(0, 3) %}
        <div class="promo-box top-row">
            <a class="promo-link" href="{{ promo.promo_link }}" {% if promo.promo_target %} target="_blank" {% endif %}>
              <div class="photo" style="background-image: url({% if promo.custom_promo %} {{ Image(promo.custom_promo_image).src }} {% endif %});"></div>
            <div class="promo_text">
              {{ promo.promo_text }}
            </div>
          </a>
        </div>
    {% endfor %}


      <div class="promo-box bottom-row blog">
          <div class="promo_text">
            <h3>{{ post1.post_title }}</h3>
            <p>{{ post1.post_content[:130] }}...</p>
            <p><a class="button" href="{{ post1.permalink }}">READ MORE</a></p>
          </div>
      </div>


      <div class="promo-box bottom-row social hide-for-medium-only">
          <div class="social-icons">
            <a href="https://www.facebook.com/krissysalon2" target="_blank" rel="noopener"><i class="fa fa-lg fa-facebook"> </i></a>  <a href="https://www.instagram.com/kljhairstudio/" target="_blank" rel="noopener"><i class="fa fa-lg fa-instagram"> </i></a>
          </div>
      </div>


      <div class="promo-box bottom-row blog">
          <div class="promo_text">
            <h3>{{ post2.post_title }}</h3>
            <p>{{ post2.post_content[:130] }}...</p>
            <p><a class="button" href="{{ post2.permalink }}">READ MORE</a></p>
          </div>
      </div>


      <div class="promo-box bottom-row social show-for-medium-only">
          <div class="social-icons">
            <a href="https://www.facebook.com/krissysalon2" target="_blank" rel="noopener"><i class="fa fa-lg fa-facebook"> </i></a>  <a href="https://www.instagram.com/kljhairstudio/" target="_blank" rel="noopener"><i class="fa fa-lg fa-instagram"> </i></a>
          </div>
      </div>

    </div>
  <div class="clear"></div>
</section><!-- end #promos -->